/* Bootstrap */
@use 'bootstrap/dist/css/bootstrap.min.css';

/* Utils */
@use './utils/variables';

/* Base component styles */
@use './components/button';
@use './components/badge';
@use './components/checkbox';
@use './components/dropdown';
@use './components/table';
@use './components/datagrid';
@use './components/pagination';
@use './components/input';
@use './components/select';