.form-check-input {
    &:checked {
        background-color: var(--azv-checkbox-checked-bg, var(--azv-primary));
        border-color: var(--azv-checkbox-checked-border-color, var(--azv-primary));
    }
    &:focus {
        border-color: var(--azv-checkbox-focus-border-color, var(--azv-primary));
        box-shadow: var(--azv-checkbox-focus-box-shadow, var(--azv-primary-shadow));
    }
}