.azv-input-search {
  max-width: 400px;
}

.azv-input-group {
  display: flex;
  align-items: center;

  .azv-input-icon {
    font-size: var(--azv-input-icon-size, var(--azv-font-size-base));
    color: var(--azv-input-icon-color, var(--azv-primary));
    flex-shrink: 0;
    padding: 0 var(--azv-input-icon-gap, 0.5rem);
    pointer-events: none;
  }

  .azv-input-icon-start {
    padding-right: var(--azv-input-icon-gap, 0.5rem);
    position: absolute;
    z-index: 1;
  }

  .form-control {
    flex: 1;
    min-width: 0;
  }
}

.azv-form-control {
  padding: var(--azv-input-padding);
  font-size: var(--azv-input-font-size, var(--azv-font-size-base));
  color: var(--azv-input-color, var(--azv-primary-dark));
  background-color: var(--azv-input-bg, var(--azv-white));
  border: var(
    --azv-input-border,
    var(--azv-border-width) solid var(--azv-primary)
  );
}

.azv-form-control-with-start-icon {
  padding-left: 36px;
}

.azv-input-error {
  color: var(--azv-input-error-color, var(--azv-danger));
}
