.pagination {
    --bs-pagination-color: var(--azv-pagination-color, var(--azv-primary));
    --bs-pagination-active-bg: var(--azv-pagination-active-bg, var(--azv-primary));
    --bs-pagination-active-border-color: var(--azv-pagination-active-border-color, var(--azv-primary));
}

