/* ==========================================================
   AZV TABLE — TOKEN OVERRIDE LAYER
   ========================================================== */

.azv-table-wrapper {
  overflow: auto;
  width: 100%;
  max-height: 100%;
  border-radius: var(--azv-table-radius);
  outline: none;

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
}

.table.azv-table {
  width: 100%;
  min-width: max-content;
  table-layout: auto;
  border-collapse: collapse;
  background-color: var(--azv-table-bg);
  font-size: var(--azv-table-font-size);
  caption-side: bottom;
  outline: none;

  &:focus,
  &:focus-visible {
    outline: none;
  }

  /* ---------- THEAD ---------- */

  .azv-table-thead {
    border-bottom: var(--azv-table-border-width) solid
      var(--azv-table-border-color);
  }

  /* ---------- TBODY ---------- */
  .azv-table-tbody {
    outline: none;
  }

  /* ---------- TFOOT ---------- */
  .azv-table-tfoot {
    border-top: var(--azv-table-border-width) solid
      var(--azv-table-border-color);
    font-weight: 500;
  }

  /* ---------- ROW ---------- */
  .azv-table-row {
    font-size: var(--azv-table-font-size);
  }

  /* ---------- HEADER CELL ---------- */
  .azv-table-th {
    padding: var(--azv-table-cell-padding-y) var(--azv-table-cell-padding-x);
    text-align: left;
    vertical-align: middle;
    font-weight: 500;
    background-color: var(--azv-table-head-bg);
    border-bottom: var(--azv-table-border-width) solid
      var(--azv-table-border-color);
  }

  /* ---------- BODY CELL ---------- */
  .azv-table-td {
    padding: var(--azv-table-cell-padding-y) var(--azv-table-cell-padding-x);
    vertical-align: middle;

    border-bottom: var(--azv-table-border-width) solid
      var(--azv-table-border-color);
  }

  /* ---------- EMPTY STATE ---------- */
  .azv-table-empty {
    padding: 2rem;
    text-align: center;
    font-style: italic;
    color: var(--azv-table-empty-color);
  }
}
